* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
}
.header__row {
  display: flex;
  flex: 1 1 50%;
  justify-content: space-between;
}
.header__image {
  flex: 0 0 670px;
}
.header__image img:nth-child(2) {
  display: block;
  width: 80px;
  height: 80px;
  margin: -40px 244px 0 348px;
}
.header__body {
  flex: 0 0 auto;
  max-width: 770px;
  padding: 60px 0 60px 120px;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 145px;
}
.menu-row__top-logo {
  width: 125px;
  height: 30px;
}
.menu-row__menu {
  display: block;
  width: 310px;
  height: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  color: rgba(18, 18, 18, 0.4);
}
.menu-row__menu-list a:last-child {
  margin-right: 0;
}

.menu__link {
  margin-right: 56px;
  color: rgba(0, 0, 0, 0.5529411765);
  transition-duration: 500ms;

}

.menu__link:hover {
  text-shadow: 5px 2px 2px #AEAEAE;
}

.First__abzaz {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 67px;
  max-width: 470px;
  color: #121212;
  margin-bottom: 16px;
}

.text__guitars {
  color: #FF6428;
}

.second__abzaz {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
  color: #666666;
}

.im1 {
  display: inline-block;
  margin-top: 20px;
  width: 190px;
  height: 60px;
  background-color: #FF6428;
  border-radius: 100px;
}

.text__Get__the__App {
  display: block;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin: 18px 40px;
}

.im2 {
  display: inline-block;
  padding: 0 35px;
}

.im3 {
  display: inline-block;
}

.main__store {
  padding: 0 120px;
}

.store__head {
  margin-top: 160px;
  margin-bottom: 80px;
}

.store__blok-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.store__blok-head p {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.08em;
}
.store__blok-head a {
  display: inline-block;
  max-width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #868686;
  letter-spacing: 1px;
}
.store__row {
  display: flex;
  flex: 0 0 33.33%;
  justify-content: space-between;
}
.store__colums {
  margin-bottom: 95px;
}
.store__colums a:first-child {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.store__colums a:nth-child(2) {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
}
.store__colums p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.head-main-block {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
}
.head-main-block__orange-letter {
  color: #FF6428;
}

.categories__row {
  display: flex;
  justify-content: space-around;
}
.categories__row a {
  display: block;
  width: 220px;
  height: 280px;
  margin-bottom: 220px;
}
.categories__row a:nth-child(1) {
  background: url(../img/cat__acustic.png);
}
.categories__row a:nth-child(2) {
  background: url(../img/cat__electric.png);
}
.categories__row a:nth-child(3) {
  background: url(../img/cat__basses.png);
}
.categories__row a:nth-child(4) {
  background: url(../img/cat__collestions.png);
}
.categories__row span {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 220px;
}

.best-brands__row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  margin-top: 75px;
}
.best-brands__row:last-child {
  margin-bottom: 180px;
}

.why-rhythm {
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 93px 0;
}
.why-rhythm__container {
  padding: 0px 40px;
}
.why-rhythm__row {
  display: flex;
  justify-content: space-between;
}
.why-rhythm__colums {
  text-align: center;
  color: #FFFFFF;
  flex: 0 0 20%;
}
.why-rhythm__img {
  margin: 0 auto;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  background: url(../img/why_rhitm__1.png);
  padding: 20px;
}
.why-rhythm__colums p:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.why-rhythm__colums p:nth-child(3) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #666666;
}

.head-main-block2 {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 75px;
}

.rewiew h2 {
  margin: 0;
}

.rewiew__row {
  margin-top: 138px;
  display: flex;
  justify-content: space-between;
}
.rewiew__container {
  padding-top: 240px;
  padding-bottom: 260px;
}
.rewiew__img {
  height: 524px;
  width: 524px;
  border-radius: 50%;
  background: url(../img/Rewu__foto.jpg) 0 0/cover no-repeat;
  background-position: 0px -100px;
}
.rewiew__comment {
  width: 524px;
  height: 283px;
}
.rewiew__comment p:nth-child(3) {
  display: inline-block;
}
.rewiew__coment-img {
  display: inline-block;
}
.rewiew__comment p:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #666666;
  margin-top: 50px;
}
.rewiew__comment p:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  margin-top: 156px;
}
.rewiew__comment p:nth-child(3) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.08em;
  color: #868686;
  margin-right: 170px;
  margin-top: 18px;
}

.apps__row {
  display: flex;
  margin-bottom: 120px;
  height: 533px;
}
.apps__container {
  padding: 0 14px;
}
.apps__colum-1 {
  flex: 0 0 50%;
}
.apps__colum-2 {
  flex: 0 0 50%;
  background: url(../img/Apps-BG.png) center no-repeat;
  padding: 0 59px 0 49px;
}

.apps__H2 {
  text-align: left;
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  margin-bottom: 60px;
  margin-top: 116px;
}

.apps-colum-2__img1 {
  margin-right: 33px;
  display: inline-block;
  height: 100%;
  width: 213px;
  background: url(../img/Apps-img__1.png) 0 0/contain no-repeat;
}
.apps-colum-2__img2 {
  display: inline-block;
  height: 100%;
  width: 213px;
  background: url(../img/Apps-img__2.png) no-repeat;
  background-position: 0px 65px;
}

.footer {
  height: 380px;
  background-color: #EEEEEE;
  padding-bottom: 43px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(18, 18, 18, 0.6);
}
.footer__container {
  padding: 80px 37px 0px 40px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__colum1 {
  flex: 0 0 40%;
}
.footer__colum2 {
  flex: 0 0 15%;
}
.footer__colum3 {
  flex: 0 0 15%;
}
.footer__colum4 {
  flex: 30%;
  padding-left: 80px;
}
.footer__colum4 img {
  margin-right: 32px;
}
.footer__TM {
  text-align: center;
  margin-top: 80px;
}

.titlt-li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #121212;
}

.footer li {
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}